#popup{
    position: fixed;
    background-color: rgba(0, 0, 0,0.8);
    width:auto;
    height: 8vh;
    z-index: 9999999;
    top: -10vh;
    opacity: 0;
    left: 50%;
    border: solid white .2vh;
    border-radius: 1vh;
    transform: translateX(-50%);
    color: white;
    transition: all .5s ease;

    display: flex;
    justify-content: center;
    align-items: center;
}

#popupText{
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    padding: 10%;
}